<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
    {{ range . }}
    <div class="artist-card">
        <img src="{{ .ImageURL }}" alt="Artist Image" class="artist-image">
        <div class="artist-info">
            <h2 class="artist-name">{{ .Name }}</h2>
            <p class="artist-members"><strong>Members:</strong>{{ range .Members }}
            {{ . }},
            {{ end }}
        </p>
            <p class="artist-creation-date"><strong>Formation Year:</strong>{{ .CreationDate }}</p>
            <p class="artist-first-album"><strong>First Album:</strong>{{ .FirstAlbum }}</p>
            <a href="/artist?id={{ .ID }}" class="artist-link" target="_blank">Tour Locations</a>
            <a href="{{ .ConcertDatesURL }}" class="artist-link" target="_blank">Concert Dates</a>
            <a href="{{ .RelationsURL }}" class="artist-link" target="_blank">Artist Relations</a>
        </div>
    </div>
    {{ end }}
</div>
</body>
</html>
