body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.grid-container {
    margin: 20px;
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 15px;
    grid-template-columns: repeat(4, 250px);
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 325px);
    }
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 400px;
    }
}

.artist-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

.artist-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.artist-info {
    padding: 16px;
}

.artist-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.artist-members,
.artist-creation-date,
.artist-first-album {
    margin: 8px 0;
}

.artist-link {
    display: block;
    margin: 8px 0;
    color: #007bff;
    text-decoration: none;
}

.artist-link:hover {
    text-decoration: underline;
}

header {
    background: url('/static/band-image.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 36px;
}
